update-paygroup {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

update-paygroup > .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #ccc;
  border-bottom: none;
  background-color: #fff;
  padding: 10px;
}

update-paygroup > .modal-header > .modal-title {
  font-weight: 700;
}

update-paygroup > .modal-header > .modal-close {
  cursor: pointer;
  padding: 5px 10px;
}

update-paygroup > .modal-body {
  border: solid 1px #ccc;
  background-color: #fff;
  padding: 10px;
  min-width: 300px;
  min-height: 200px;
}

update-paygroup > .modal-footer {
  display: flex;
  justify-content: flex-end;
  border: solid 1px #ccc;
  border-top: none;
  background-color: #fff;
  padding: 10px;
}

update-paygroup .btn-cancel {
  margin-right: 0.5rem;
}
